@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(239, 227, 214);
}

.tag {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 40px;
}

.product__title,
.price__current {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
}

.btn__primary {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.product__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    width: 680px;
    margin: 100px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product__card--image {
    display: flex;
    width: 50%;
    height: 100%;
}
.product__card--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__card--description {
    background-color: white;
    padding: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.tag,
.product__para,
.price__discounted {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.product__para {
    line-height: 1.5;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price__current {
    color: hsl(158, 36%, 37%);
}

.price__discounted {
    text-decoration: line-through;
}

.fa-cart-shopping {
    margin-right: 10px;
}

/*
Responsive Design
*/
@media (max-width:480px) {
    .product__preview {
        flex-direction: column;
        width: 90%;
        height: 700px;
        margin: 50px auto;
    }

    .product__card--image {
        height: 40%;
        width: 100%;
    }

    .product__card--description {
        width: 100%;
        height: 60%;
        padding: 1.5rem;
    }

    .tag {
        padding-top: 40px;
    }

    .product__title {
        
    }
}