@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 227, 214);
}

.product__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    margin: 100px;
}

.product__card--image {
    width: 100%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;

}

.product__card--image img {
    width: 100%;
    height: auto;
}

.product__card--description {
    background-color: white;
    padding: 2rem;
    width: 50%;
}