@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 227, 214);
}

.tag {
    text-transform: uppercase;
}

.product__title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 40px;
}

.product__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    margin: 100px;
    overflow: hidden;
}

.product__card--image {
    display: flex;
    width: 50%;
}

.product__card--image img {
    width: 100%;
    height: auto;
}

.product__card--description {
    background-color: white;
    padding: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.tag,
.product__para {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

