@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 236, 214);
}

.product__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-direction: row;
}

.product__card--image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}